.body {

    background-color: #000000;
    width: 880px;
    height: 1217px;
    border: #000000;
}

.page {

    width: 320px;

    max-width: 1280px;
    margin: 0 auto;

}


.header {

    width: 950px;
    height: 74px;
    top: 45px;
    left: 200px;

    padding-top: 45px;
    border-bottom-width: 1px;
    /* Толщина линии внизу */
    border-bottom-style: solid;
    /* Стиль линии внизу */
    border-bottom-color: white;
    /* Цвет линии внизу */

}


.profile {

   
        width: 880px;
        margin: 92px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        padding-block: 50px;
        align-items: center;



    /* width: 880px;
    margin: 92px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding-block: 50px; */

}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .photo-grid {


        grid-template-columns: repeat(4, 1fr);


    }
}




.profile__list-name{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 42px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: start;
    list-style-type: none;



}

.button__edit {

    width: 24px;
    height: 24px;
    /* top: 196px;
    left: 662px;
    /* border: 1px; */
    background-color: transparent;
    /* border-radius: 1px; */
    border: 1px solid #FFFFFF;
    background-color: transparent;

}


.profile__list-text {
    color: #FFFFFF;
    width: 336px;
    height: 18px;
    top: 236px;
    left: 350px;

    list-style-type: none;



}




.button__edd {
    width: 150px;
    height: 50px;
    top: 194px;
    left: 930px;
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    /* border: medium none; */
    background-color: transparent;

}

.elements {
    width: 880px;
    /* height: 744px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-start: auto;
    gap: 50px;





}

.elements__text {
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;



}

.elements__img {

    background-color: white;
    width: 22px;
    height: 19px;
    margin-top: 30px;


}


.elements__place {


    display: flex;
    justify-content: space-around;

}


.elements__color {
    background-color: antiquewhite;
}

.footer {


    width: 318px;
    height: auto;

    top: 1139px;
    left: 200px;
    font-family: Inter;
    font-weight: 400;
    line-height: 92x;
    letter-spacing: 0em;
    text-align: left;
    padding-block: 92px;

}